*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
     width: 100vw;
     min-height: 100vh;
     background: url("./design.jpg")  center / 100% 100% no-repeat ;
     position: relative;
     overflow: hidden;
}
.partiCss{
    --size:10px;
    width: var(--size);
    height: var(--size);
    background:rgb(248, 248, 248);
}

